aiohttp[speedups] >= 3.6
click
errata-tool >= 1.22
future
koji >= 1.18
kobo ~= 0.19.0
rpm
semver
pygit2 == 1.6.*
python-bugzilla >= 3.0.2
pyyaml
requests
requests_kerberos
ruamel.yaml
six
typing ; python_version <= '3.4'
tenacity
