pip>=20.3.3
setuptools>=41.6.0

-rrequirements.txt

# test reqs
flexmock
mock>=4.0.3
asynctest>=0.13.0

# tox reqs
coverage>=5.3
flake8>=3.8.4
tox>=3.20.1

# makefile reqs
virtualenv>=20.2.2
pytest>=6.2.1
mypy>=0.812
pylint
